body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#277eb6;
}



#principal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

#secundaria {
    text-align: center;
}

#Limpar {
    cursor: pointer;
    color: blue;
    margin-top: 10px;
}


h1{
    color: rgb(29, 32, 243);
}

#btn{
    background-color: rgb(59, 62, 212);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(29, 32, 243);
    color: white;
}

@media screen and (max-width: 600px) {
    #principal {
        width: 95%;
    }
}
